.sacola {
  background: url(../img/sacola.png) no-repeat top right;
  
  font-size: 14px;
  padding-right: 35px;
  text-align: right;
  width: 130px;
}

.menu-opcoes  ul {
  font-size: 15px;
}

.menu-opcoes a {
  color: #003366;
}

body {
  color: #333333
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu-opcoes ul li {
  display: inline;
  margin-left: 20px
}

.sacola {
  padding-top: 5px
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  position: relative;
}

.menu-opcoes {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.sacola {
  position: absolute;
  top: 0px;
  right: 0px;
}


















